h3 {
    font-size: var(--fs-h3);
}

@media (min-width: 800px) {
    .content {
        display: flex;
        justify-content: space-around;
    }

    .post_col {
        width: 76%;
    }

    .side-bar_col {
        width: 23%;
    }
}